.net-body{
    background-color: black;
}

.header-logo{
    width: 170px;
    height: 100px;
} 
#icon{
    
    color: white;
}
.mid-sec{
    
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 150px;
    text-align: center;

}

.mid-sec-heading{
    color: aliceblue;
    font-size:50px;
}
.mid-sec-profils{
      width:60%;
    display:flex;
    justify-content: space-evenly;
    /* background-color:red; */
    
}
.mid-sec-img{
    height:192px;
    width: 192px;
    }

    .btn{
        margin-top: 70px;
        background-color: black;
        width:140px;
        height:30px;
        color: grey;
        border:solid grey 1px
    
        
    }
    .name-tag{
        color:grey;

    }
    .btn:hover{
        transition: 1s;
        color: white;
        transform: scale(1.05);
    }

    
    .mid-sec-profil1:hover,.mid-sec-profil2:hover,.mid-sec-profil3:hover,.mid-sec-profil4:hover,.mid-sec-profil5:hover,.name-tag:hover{
        transition:1s;
        transform: scale(1.05);
        text-transform :blue;
    }